<div class="text-center max-w-2xl mx-auto">
  <h1 class="text-4xl font-bold mb-4">
    Welcome to Our Non-Profit Organization
  </h1>
  <p class="text-xl mb-6">
    We are dedicated to making a positive impact in our community. Join us in
    our mission to create a better world.
  </p>
  <button class="bg-blue-500 text-white px-4 py-2 rounded">Get Involved</button>
</div>

<div class="p-6 rounded-lg max-w-3xl mx-auto">
  <h2 class="text-2xl font-semibold mb-4">Inspiring Story</h2>
  <p class="mb-4">
    &quot;Thanks to the support of our donors, we were able to provide clean
    water to over 1,000 families in rural areas last year. Your contributions
    are changing lives!&quot;
  </p>
  <p class="font-bold">- Sarah, Project Coordinator</p>
</div>

<h1 class="text-4xl font-bold mb-4">Active Fundraisers</h1>

<div
  class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4"
>
  @for (item of fundraisers; track item.FUNDRAISER_ID) {
  <card [item]="item" />
  }
</div>
